@font-face{
  font-family: 'My font';
  src: url('./Calibri.woff') format('woff'); 
  src:url('./calibri.ttf') format('TrueType');
  src: url('./calibrib.woff') format('TrueType');
  font-weight: normal;
  font-style: normal;
}

