/* @font-face{
  font-family: 'Calibri';
  src:url('./calibri.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

 @font-face {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: normal;
    src: url('./Calibri.woff2') format('woff2');
}
