html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, */
    /* Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* .ant-layout{
  height: 93vh;
} */
/* ._next{
height: 100vh;
} */
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab{
  /* background: #1890ff   !important; */
    /* color: #fff !important; */
}
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active{
  color: white !important;
  background: #1890ff !important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
  color: white !important;
}
.logo {
  height: 32px;
  /* background: rgba(255, 255, 255, 0.3); */
  margin: 16px;
  color:white;
  text-align: center;
  font-size: 16px;
}

/* Print  */
@media all {
  .page-break {
    display: none;
  }
}

@media print {
  html, body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }
}

@media print {
  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: auto;
  }
}

@page {
  size: auto;
  margin: 20mm;
}
@media print{
  .printHide{
      visibility: hidden;
  }
}